---
http_interactions:
- request:
    method: post
    uri: https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/21580000/requests?app_id=some_app_id&app_secret=some_app_secret
    body:
      encoding: US-ASCII
      string: address=9175332061&message=Wassup%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21%21&passphrase=C6xb7tfmre
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "outboundSMSMessageRequest": {
            "address": "9277780000",
            "deliveryInfoList": {
              "deliveryInfo": [],
              "resourceURL": "https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/21588500/requests?app_id=8dAkszexGEu67cg78nTxxzu8od5XsXn4&app_secret=a0ed31f4454598f17b65ebae2e2fd14ece39a51172ece290845970cd3d946ca2"
            },
            "senderAddress": "21588500",
            "outboundSMSTextMessage": {
              "message": "Wassup!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
            },
            "receiptRequest": {
              "notifyURL": "https://api.yescredit.com/callbacks/globe",
              "callbackData": null,
              "senderName": null
            },
            "resourceURL": "https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/21588500/requests?app_id=8dAkszexGEu67cg78nTxxzu8od5XsXn4&app_secret=a0ed31f4454598f17b65ebae2e2fd14ece39a51172ece290845970cd3d946ca2"
          }
        }
  recorded_at: Thu, 21 Jan 2016 08:08:15 GMT
recorded_with: VCR 3.0.1
